body {
    font-family: Lato;
    margin: 0;
    color: #272728;
}
h1, h2, h3, h4, h5, h6 {
    font-family: PT Sans;
    margin: 0;
    padding: 20px;
}
.topbar {
    height: 82px;
}
.guesses-list h2 {
    padding-bottom: 10px
}
.topbar, .bottombar {
    background: #efefef;
}
.bottombar {
    padding: 20px 0px;
    width: 100%;
    bottom: 0px;
    overflow: auto;
    height: 155px;
}
.sitemiddle {
    height: calc(100vh - 82px - 195px);
    overflow: auto;
}
div#guesses-list {
    max-width: 500px;
    width: 75vw;
    padding: 5px;
    border-radius: 5px;
}
div#guesses-list p {
    text-transform: uppercase;
    border: 3px solid gray;
    padding: 10px;
    height: 21px;
    border-radius: 5px;
}
div#guesses-list p[style] {
    height: 100%;
}
.bottom-controls {
    font-family: PT Sans;
    font-weight: bold;
    font-size: 16px;
    border-color: gray;
    background: white;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    height: 40px;
    cursor: pointer;
    padding: 0px 10px;
}
.bottombar audio {
    max-width: 500px;
    width: 90vw;
    border-radius: 100px;
    border: 2px solid gray;
}
input[disabled], select[disabled], button[disabled] {
    opacity: 0.25;
    color: #ffffffa3;
    cursor: default;
}
div#right-answer {
    position: absolute;
    width: 100vw;
    background: #efefef;
    height: 100%;
    z-index: 1;
    display:none
}
img#right-answer-image {
    max-width: 300px;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    body {
        background: #131719;
        color: white;
    }
    .topbar, .bottombar {
        background: #1b2022;
    }
    .bottombar audio {
        border: 3px solid #323639;
    }
    div#right-answer {
        background: #131719;
    }
    .bottom-controls {
        color: white;
        background: #1b2022;
        border-color: #323639;
    }
    div#guesses-list p {
        border: 2px solid #323639;
    }
}
@media only screen and (max-width: 466px) {
    .topbar {
        height: 124px;
    }
    .sitemiddle {
        height: calc(100vh - 124px - 195px);
    }
}
@media only screen and (max-width: 307px) {
    .topbar {
        height: 166px;
    }
    .sitemiddle {
        height: calc(100vh - 166px - 195px);
    }
}